{
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "env": {
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "browser": true,
    "webextensions": true
  }
}