.button-default {
  .button;
  width: auto;
  height: auto;
  font-size: inherit;
  font-family: inherit;
  padding: 12px 15px;
  border: 1px solid @GRAY;
  border-radius: @BORDER_RADIUS;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s;

  &:hover {
    border-color: transparent;
    background-color: @GRAY;
    color: @WHITE;
  }

  &_primary {
    border-color: transparent;
    background-color: @ORANGE;
    color: @WHITE;

    &:hover {
      color: @ORANGE;
      border-color: @ORANGE;
      background-color: transparent;
    }
  }

  &_popup {
    margin-top: 1.5em;
    margin-right: 0.5em;
  }
}
