.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  transform: translateX(0);
  transition: transform 0.3s;

  &_hidden {
    transform: translateX(-100%);
  }

  &__cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    transition: opacity 0.3s;
  }

  &_hidden &__cover {
    opacity: 0;
  }

  &__inner {
    width: 100%;
    max-width: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    background-color: @WHITE;
    padding: 15px;
    color: @GRAY;

    &:before {
      content: '';
      float: right;
      width: 30px;
      height: 1em;
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &__header {
    margin-bottom: 20px;
  }
}
