.popup {
  &__cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    z-index: 1;

    &_show {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__inner {
    width: 100%;
    max-width: 400px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    background-color: @WHITE;
    padding: 15px;
    color: @GRAY;
    transform: translateX(-100%);
    transition: transform 0.3s;
    z-index: 2;

    &_show {
      transform: translateX(0);
    }

    &:before {
      content: '';
      float: right;
      width: 30px;
      height: 1em;
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &__header {
    margin-bottom: 20px;
  }
}
