.bookmarksGroup {
  min-width: 100%;
  transition: transform 0.3s;
  transform: translateX(0);
  overflow: hidden;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0 0 15px;
  }
}
